body{
    /*background-image: url("bg.png");*/
    background-color: black;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.nav-links {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.nav-links li {
    margin-right: 20px;
}

.nav-links li:last-child {
    margin-right: 0;
}

.nav-links a {
    text-decoration: none;
    color: #fff;
}

.social-icons {
    display: flex;
    /* Display the social icons in a single line */
}

.social-icons a {
    color: #fff;
    text-decoration: none;
    margin-left: 15px;
    /* Adjust the spacing between icons */
}

.social-icons i {
    font-size: 1.5rem;
    /* Adjust the size of the icons */
}
/* Responsive Styles */
@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
    }

    .social-icons {
        margin-top: 10px;
        /* Adjust the spacing from the top */
    }

    .nav-links {
        display: none;
    }

    .nav-links.show {
        display: flex;
        flex-direction: column;
    }

    .nav-links li {
        margin: 10px 0;
    }

    .hamburger-icon {
        display: block;
    }
}